@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Buy, sell, and get inspired by crafts celebrating geek life.</p>
</div>

<ul>
    @foreach (var product in Model.Products)
    {
        <li>@product.Title</li>    
    }
</ul>