@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-columns">
@foreach (var product in Model.Products)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@product.Image');">
        </div>
        <div class="card-body">
            <h5 class="card-title">@product.Title</h5>
            <p class="card-text">@product.Description</p>
        </div>
    </div>
}
</div>
